<app-navbar></app-navbar>
<br><br><br>
<div style="text-align: center;">
    <h1>PACIENTES</h1>
</div>



<div *ngIf="collectionSize>0" class="container">
    <h3 *ngIf="add">Agregar</h3>
    <h3 *ngIf="!add">Editar</h3>
    <form class="mb-3">
        Nombre <input type="email" class="form-control" placeholder="Ariel" [(ngModel)]="nombre"
            [ngModelOptions]="{standalone: true}">
        Apellido <input type="email" class="form-control" placeholder="Cardozo" [(ngModel)]="apellido"
        [ngModelOptions]="{standalone: true}">
        Email <input type="email" class="form-control" placeholder="a@gmail.com" [(ngModel)]="email"
        [ngModelOptions]="{standalone: true}">
        Telefono <input type="email" class="form-control" placeholder="xx" [(ngModel)]="telefono"
        [ngModelOptions]="{standalone: true}">
        RUC <input type="email" class="form-control" placeholder="123" [(ngModel)]="ruc"
        [ngModelOptions]="{standalone: true}">
        Cedula <input type="email" class="form-control" placeholder="123-3" [(ngModel)]="cedula"
        [ngModelOptions]="{standalone: true}">
        Tipo Persona <input type="email" class="form-control" placeholder="FISICA" [(ngModel)]="tipoPersona"
        [ngModelOptions]="{standalone: true}">
        Fecha Nacimiento <input type="email" class="form-control" placeholder="1990-10-30 00:00:00" [(ngModel)]="fechaNacimiento"
        [ngModelOptions]="{standalone: true}">
    </form>
    <div *ngIf="add" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-sm" (click)="agregar()">Agregar
            Paciente</button>
    </div>
    <div *ngIf="!add" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-sm" (click)="modificar()">Modificar
            Paciente</button>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">RUC</th>
                <th scope="col">Cedula</th>
                <th scope="col">Tipo Persona</th>
                <th scope="col">Fecha de Nac.</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paciente of listaPacientes; let i = index">
                <td>{{paciente.nombre}}</td>
                <td>{{paciente.apellido}}</td>
                <td>{{paciente.email}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.ruc}}</td>
                <td>{{paciente.cedula}}</td>
                <td>{{paciente.tipoPersona}}</td>
                <td>{{paciente.fechaNacimiento}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary"
                        (click)="idPersona=paciente.idPersona;eliminar()">Eliminar</button>
                    <button type="button" class="btn btn-outline-primary" (click)="setDatosModificar(paciente)">Modificar</button>
                </div>
            </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refresh()">
        </ngb-pagination>

        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
            <option [ngValue]="10">10 por pagina</option>
            <option [ngValue]="20">20 por pagina</option>
            <option [ngValue]="30">30 por pagina</option>
        </select>
    </div>
</div>