<section>
<div class="col-xs-1" align="center">
    <br>
    <h2>Bienvenido! {{usuario}}</h2>
    <h3>Menu</h3>
    <div class="container mb-4 menu">
        <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" [routerLink]="['/','crud-productos']">
            <label class="btn btn-outline-primary" for="btncheck1" >CRUD Productos y categorias</label>

            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" [routerLink]="['/','paciente']">
            <label class="btn btn-outline-primary" for="btncheck2">CRUD Pacientes</label>

            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" [routerLink]="['/','horario-atencion']">
            <label class="btn btn-outline-primary" for="btncheck3">CRUD Horario Atencion</label>

            <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" [routerLink]="['/','horario-excepcion']">
            <label class="btn btn-outline-primary" for="btncheck4">CRUD Horario Excepcion</label>
          
            <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" [routerLink]="['/','reserva']">
            <label class="btn btn-outline-primary" for="btncheck5">Reservas</label>
          
            <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off" [routerLink]="['/','ficha-clinica']">
            <label class="btn btn-outline-primary" for="btncheck6">Ficha Clinica</label>

            <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off" [routerLink]="['/','servicios']">
            <label class="btn btn-outline-primary" for="btncheck7">Servicios</label>
          </div>

    </div>
</div>
</section>
