<app-navbar></app-navbar>
<br><br><br>
<div style="text-align: center;">
    <h1>FICHA CLINICA</h1>
</div>

<div class="container">
    <h4>Filtros de busqueda</h4>
    <table class="mb-3">
        <tr>
            <td>
                <label for="FechaDesde">Fecha Desde</label>
                <input id="FechaDesde" class="form-control" type="date" [(ngModel)]="fechaDesde" />
            </td>
            <td>
                <label for="FechaHasta">Fecha Hasta</label>
                <input id="FechaHasta" class="form-control" type="date" [(ngModel)]="fechaHasta" />
            </td>
        </tr>
    </table>
    <form class="mb-3">
        Empleado <input type="email" class="form-control" placeholder="Nombre" [(ngModel)]="nombreEmpleado" [ngModelOptions]="{standalone: true}">
        Cliente <input type="email" class="form-control" placeholder="Nombre" [(ngModel)]="nombreCliente" [ngModelOptions]="{standalone: true}">
    </form>

    <div style="color: red; display: inline;">{{mensajeErrorFiltro}} </div>
    <div style="display: inline; cursor: pointer;" *ngIf="mensajeErrorFiltro" (click)="mensajeErrorFiltro=''">x</div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-sm" (click)="filtrar()">Filtrar</button>
    </div>
</div>
<br>

<div *ngIf="collectionSize>0" class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Profesional</th>
                <th scope="col">Cliente</th>
                <th scope="col">Categoria</th>
                <th scope="col">Subcategoria</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ficha of listaFichas">
                <td>{{ficha.fechaHora}}</td>
                <td>{{ficha.idEmpleado.nombre}}</td>
                <td>{{ficha.idCliente.nombre}}</td>
                <td>{{ficha.idTipoProducto.idCategoria.idCategoria }}</td>
                <td>{{ficha.idTipoProducto.idTipoProducto}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-primary" (click)="refresh()">Cancelar</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="refresh()">Modificar</button>
                        <button type="button" class="btn btn-outline-primary">Crear Servicio</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refresh()">
        </ngb-pagination>

        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
            <option [ngValue]="10">10 por pagina</option>
            <option [ngValue]="20">20 por pagina</option>
            <option [ngValue]="30">30 por pagina</option>
        </select>
    </div>
</div>
<br>
<br>
<br>
<br>


<!-- Section: Design Block -->
<app-footer *ngIf="collectionSize == 0"></app-footer>