<app-navbar></app-navbar>
<br><br><br>
<div style="text-align: center;">
    <h1>RESERVAS</h1>
</div>

<div class="container">
    <h4>Filtros de busqueda</h4>
    <table class="mb-3">
        <tr>
            <td>
                <label for="FechaDesde">Fecha Desde</label>
                <input id="FechaDesde" class="form-control" type="date" [(ngModel)]="fechaDesde" />
            </td>
            <td>
                <label for="FechaHasta">Fecha Hasta</label>
                <input id="FechaHasta" class="form-control" type="date" [(ngModel)]="fechaHasta" />
            </td>
        </tr>
    </table>
    <form class="mb-3">
        Empleado <input type="email" class="form-control" placeholder="Nombre" [(ngModel)]="nombreEmpleado"
            [ngModelOptions]="{standalone: true}">
        Cliente <input type="email" class="form-control" placeholder="Nombre" [(ngModel)]="nombreCliente"
            [ngModelOptions]="{standalone: true}">
    </form>

    <div style="color: red; display: inline;">{{mensajeErrorFiltro}} </div>
    <div style="display: inline; cursor: pointer;" *ngIf="mensajeErrorFiltro" (click)="mensajeErrorFiltro=''">x</div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-sm" (click)="filtrar()">Filtrar</button>
    </div>
</div>
<br>
<div *ngIf="collectionSize>0" class="container mb-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Hora Inicio</th>
                <th scope="col">Hora Inicio</th>
                <th scope="col">Empleado</th>
                <th scope="col">cliente</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of listaReserva; let i = index">
                <td>{{reserva.fechaCadena}}</td>
                <td>{{reserva.horaInicioCadena}}</td>
                <td>{{reserva.horaFinCadena}}</td>
                <td>{{reserva.idEmpleado.nombre}} {{reserva.idEmpleado.apellido}}</td>
                <td>{{reserva.idCliente.nombre}} {{reserva.idEmpleado.apellido}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-primary"
                            (click)="cancelarReserva(reserva.idReserva)">Cancelar</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" (click)="setIndex(i)">Modificar</button>
                        <button type="button" class="btn btn-outline-primary">Nueva Ficha</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>





    <div class="grid text-center">
        <div class="g-col-6">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="refresh()">
            </ngb-pagination>
            <div class="g-col-6">
                <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
                    <option [ngValue]="10">10 por pagina</option>
                    <option [ngValue]="20">20 por pagina</option>
                    <option [ngValue]="30">30 por pagina</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/','agregar-reserva']">Agregar
            Reserva</button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="mb-3">
                        Observación <input type="email" class="form-control" placeholder="Nota"
                            [(ngModel)]="modificar[index1].observacion" [ngModelOptions]="{standalone: true}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{modificar[index1].flagAsistio}}"
                                [(ngModel)]="modificar[index1].flagAsistio" [ngModelOptions]="{standalone: true}"
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Asistió
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="guardarEdicion()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="collectionSize==0" class="container">
        <h4>Lista Vacía, filtre otros valores</h4>
    </div>
</div>



<app-footer *ngIf="collectionSize==0"></app-footer>

