<app-navbar></app-navbar>
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <!-- <p>crud-productos works!</p> -->


    <div class="col-xs-1" align="center">
      <p *ngIf="mensaje!=''">{{ mensaje }}</p>
      <p>Agregar categoria</p>
      Descripcion: <input [(ngModel)]="categoriaGuardar.descripcion">
      <br>
      <button class="btn btn-success mt-3" (click)="guardarCategoria()">Guardar</button>
    </div>
    <br>
    <div class="container" *ngIf="categorias.length>0">
      <div class="row">
        <div class="col-3 align-middle text-center my-auto"><b>Id</b></div>
        <div class="col-3 align-middle text-center my-auto"><b>Descripcion</b></div>
        <div class="col-6 align-middle text-center my-auto"><b>Accion</b></div>
      </div>
      <div class="row mt-2" *ngFor="let c of categorias">
        <div class="col-3 align-middle text-center my-auto"><span>{{ c.idCategoria }}</span></div>
        <div class="col-3 align-middle text-center my-auto"><span>{{ c.descripcion }}</span></div>
        <div class="col-3 align-middle text-center my-auto"><button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Editar</button></div>
        <div class="col-3 align-middle text-center my-auto"><button class="btn btn-danger" (click)="guardarCategoria()">Eliminar</button></div>
      </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="col-xs-1" align="center">
      <p>Agregar Tipo productos</p>
      Descripcion: <input [(ngModel)]="TipoProductoGuardar.descripcion">
      <br>
      idCategoria: <input [(ngModel)]="TipoProductoGuardar.idCategoria.idCategoria">
      <br>
      <button class="btn btn-success mt-3" (click)="guardarTipoProductos()">Guardar</button>
    </div>
    <div class="col-xs-1" align="left">
      <p></p>
      Filtrar por Descripcion: <input [(ngModel)]="TipoProductoBuscar">
      &nbsp;
      <button class="btn btn-primary" (click)="getTipoProductosLike()">Filtrar</button>
    </div>

    <div *ngIf="tipoProductos.length>0" class="mt-4">
      <table class="table">
        <thead>
          <tr>
            <td>Id</td>
            <td>Descripcion</td>
            <td>ID Categoria</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tipoProductos">
            <td>{{ t.idTipoProducto }}</td>
            <td>{{ t.descripcion }}</td>
            <td>{{ t.idCategoria.idCategoria }}</td>
            <td><button class="m-10 btn btn-primary " (click)="guardarCategoria()">Editar</button></td>
            <td><button class="m-10 btn btn-danger" (click)="guardarCategoria()">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <p class="col-xs-1 mt-4" align="center">Presentacion Productos</p>
    <div *ngIf="presentacionProductos.length>0" class="mt-4">
      <table class="table">
        <thead>
          <tr>
            <td>idPresentacionProducto</td>
            <td>nombre</td>
            <td>idProducto</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of presentacionProductos">
            <td>{{ p.idPresentacionProducto }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.idProducto.idProducto }}</td>
            <td><button class="m-10 btn btn-primary " (click)="guardarCategoria()">Editar</button></td>
            <td><button class="m-10 btn btn-danger" (click)="guardarCategoria()">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Design Block -->
<app-footer></app-footer>
