<app-navbar></app-navbar>
<br><br><br>
<div style="text-align: center;">
    <h1>AGREGAR RESERVAS</h1>
</div>

<div class="container">
    <h4>Filtros de busqueda</h4>
    <label for="Fecha">Fecha</label>
    <input id="Fecha" class="form-control" type="date" value="" [(ngModel)]="fecha" />

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="{{mostrarReservados}}" [(ngModel)]="mostrarReservados"
            [ngModelOptions]="{standalone: true}" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Mostrar Ya Reservados
        </label>
    </div>


    <form class="mb-3">
        Empleado <input type="email" class="form-control" placeholder="Nombre" [(ngModel)]="idEmpleado"
            [ngModelOptions]="{standalone: true}">
    </form>

    <div style="color: red; display: inline;">{{mensajeErrorFiltro}} </div>
    <div style="display: inline; cursor: pointer;" *ngIf="mensajeErrorFiltro" (click)="mensajeErrorFiltro=''">x</div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-sm" (click)="filtrar()">Filtrar</button>
    </div>

    <div *ngIf="collectionSize>0" class="container mb-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">cliente</th>
                    <th scope="col">Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of listaReserva; let i = index">
                    <td>{{reserva.horaInicioCadena}}</td>
                    <td>{{reserva.horaFinCadena}}</td>
                    <td>
                        <div *ngIf="reserva.idCliente">
                            {{reserva.idCliente.nombre}} {{reserva.idEmpleado.apellido}}
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic outlined example" *ngIf="!reserva.idCliente">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="reservaAGuardar=reserva">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="grid text-center">
            <div class="g-col-6">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refresh()">
                </ngb-pagination>
                <div class="g-col-6">
                    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
                        <option [ngValue]="10">10 por pagina</option>
                        <option [ngValue]="20">20 por pagina</option>
                        <option [ngValue]="30">30 por pagina</option>
                    </select>
                </div>
            </div>
        </div>
        <form class="mb-3">
            Cliente <input type="email" class="form-control" placeholder="Nombre" [(ngModel)]="idCliente"
                [ngModelOptions]="{standalone: true}">
        </form>
        <form class="mb-3">
            Observación <input type="email" class="form-control" placeholder="Nota" [(ngModel)]="observacion"
                [ngModelOptions]="{standalone: true}">
        </form>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary btn-sm" (click)="agregarReserva()">Agregar
                Reserva</button>
        </div>

    </div>
    
</div>

<div *ngIf="collectionSize==0" class="container">
    <h4>Lista Vacía, filtre otros valores</h4>
</div>

<app-footer *ngIf="collectionSize==0"></app-footer>
